node_modules/

# --- Ambiente e Segredos (CRÍTICO) ---
# Ignora todos os arquivos de env
.env
.env.*

# --- Desktop Plataform ---
dist/
out/
.eslintcache

# --- Web Plataform ---
/plataforms/web/dist/
/plataforms/web/dist-ssr/
/plataforms/web/*.local
/plataforms/web/.vite/


# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Sistema Operacional e IDEs ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?